<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/sanitize.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://unpkg.com/charts.css/dist/charts.min.css">
<script src="https://kit.fontawesome.com/2236e39c35.js"
	crossorigin="anonymous"></script>
<title>Insert title here</title>
</head>
<body>
	<div class="header" th:replace="~{layouts/header :: header}"></div>
	<div class="container-fluid">
		<div class="row" th:style=" 'background-image: url(/img/background.jpg);background-size: cover; '">
			<div class="col-2" style="background-color:#1f3134;">
				<div class="menu" style="margin-top:100px;">
					<div class="mb-5">
						<img alt="mypicture" th:src="@{/img/mwam.jpg}" class="rounded-circle" width="175" height="175">
					</div>
					<div class="mb-5">
						<h4 style="color:white;"><i class="fas fa-user"></i>Riku Kurihara</h4>
					</div>
					<div class="mb-5">
						<a th:href="@{/top}" style="color:white"><i class="fas fa-laptop-house mr-4"></i>トップに戻る</a>
					</div>
					<div class="mb-5">
						<a th:href="@{/}" style="color:white;"><i class="far fa-newspaper mr-4"></i>記事一覧へ</a>
					</div>
					<div class="mb-5">
						<a th:href="@{/pile}" style="color:white;"><i class="fas fa-address-card mr-4"></i>ダッシュボードへ</a><br>
					</div>
					<div class="mb-5">
						<a th:href="@{/write}" style="color:white;"><i class="far fa-newspaper mr-4"></i>記事を投稿する</a>
					</div>
				</div>
			</div>
			<div class="col-1"></div>
			<div class="col-6">
				<div class="card mt-5 mb-5">
					<div class="card-body">
						<img alt="image" th:src="@{/img/{y}(y=${data.file_path} ) }" style="width:600px;height:300px;">
						<h1 th:text="${data.title}" class="card-title"></h1>
						<p th:text="${#dates.format(data.createdDatetime , 'yyyy/MM/dd')}"></p>
						<p th:text="${#dates.format(data.updateDatetime , 'yyyy/MM/dd')}"></p>
						<div class="card">
							<div class="card-body" style="background-color:#dbffed;">
								<h5 th:text="${data.body}" class="card-text" style="white-space: pre-wrap;"></h5>
							</div>
						</div>
						<a th:href="${data.url}">参考記事URL</a><br><br>
						<a th:href="@{/}" class="btn btn-primary">記事一覧へ</a>
						<a th:href="@{/update/{y}(y=${data.id})}" class="btn btn-success">更新</a>
						<a th:href="@{/delete/{y}(y=${data.id}) }" class="btn btn-danger">削除</a>
					</div>
				</div>
			</div>
			<div class="col-3"></div>
		</div>
	</div>
	<div class="footer bg-dark">
		<div th:replace="~{layouts/footer :: footer}"></div>
	</div>
</body>
</html>